.section {
   width: 100%;
   height: 100%;
   display: flex;
   align-items: center;
   overflow: hidden; //

   background-size: cover !important;

   &.section1 {
      background: url('../../../assets/imgs/background1.jpg') no-repeat center fixed;
      color: #fff;
   }
}

.main {
   padding: 0 3.5em;

   // tablet
   @media (max-width: 1200px) {
      padding: 0 1.5em;
   }

   // mobile horizontal
   @media (max-height: 391px) {
      padding: 50px 1.5em 0;
   }

   // Title
   & > p:nth-of-type(1) {
      display: block;
      font-family: 'Courgette', cursive;
      font-size: 7.5rem;
      color: var(--primary);

      // tablet
      @media (max-width: 1200px) {
         font-size: 5.5rem;
      }

      // mobile
      @media (max-width: 768px) {
         font-size: 2.5rem;
      }

      // mobile small
      @media (max-width: 391px) {
         font-size: 11vw;
      }

      // mobile horizontal
      @media (max-height: 391px) {
         font-size: 11vh;
      }
   }

   & > p:nth-of-type(2) {
      font-size: 3.15rem;
      font-weight: 300;
      margin: -12px 0 -8px;
      text-transform: uppercase;
      letter-spacing: -0.5px;
      transform-origin: left;

      // tablet
      @media (max-width: 1200px) {
         font-size: 2.25rem;
      }

      // mobile
      @media (max-width: 768px) {
         font-size: 1.75rem;
         margin: -8px 0 -6px;
      }

      // mobile small
      @media (max-width: 391px) {
         font-size: 8vw;
         margin: -8px 0 -6px;
      }

      // mobile horizontal
      @media (max-height: 391px) {
         font-size: 8vh;
         margin: -8px 0 -6px;
      }
   }

   & > p:nth-of-type(3) {
      font-size: 7.5rem;
      font-weight: 700;
      text-transform: uppercase;
      transform-origin: right;

      // tablet
      @media (max-width: 1200px) {
         font-size: 5rem;
      }

      // mobile
      @media (max-width: 768px) {
         font-size: 3.2rem;
      }

      // mobile small
      @media (max-width: 391px) {
         font-size: 14vw;
      }

      // mobile horizontal
      @media (max-height: 391px) {
         font-size: 14vh;
      }
   }

   & > button {
      height: 50px;
      max-width: 90%;
      padding: 0 24px;
      margin-top: 60px;
      border: 3px solid #fff;
      border-radius: 5px;

      font-size: 19px;
      font-weight: 600;
      text-transform: uppercase;

      transition: color 0.3s ease-in-out, background 0.3s ease-in-out;

      &:hover {
         background: #fff;
         color: #000;
      }

      // mobile small
      @media (max-width: 391px) {
         padding: 0 18px;
         font-size: 6.2vw;
      }

      // mobile horizontal
      @media (max-height: 391px) {
         margin-top: 8px;
      }
   }

   // ACTIVE ANIMATION
   &.active {
      --duration1: 1.1s;
      --duration2: 1.13s;
      --duration3: 1.16s;
      --duration4: 1.2s;
      --delay1: 0s;
      --delayAll: 0.5s;

      & > p:nth-of-type(1) {
         opacity: 0;
         animation: animation0 var(--duration1) ease-in-out var(--delayAll) forwards;
      }

      & > p:nth-of-type(2) {
         opacity: 0;
         animation: animation2 var(--duration2) ease-in-out var(--delayAll) forwards;
      }

      & > p:nth-of-type(3) {
         opacity: 0;
         animation: animation3 var(--duration3) ease-in-out var(--delayAll) forwards;
      }

      & > button {
         opacity: 0;
         animation: animation4 var(--duration4) ease-in-out var(--delayAll) forwards;
      }
   }
}

@keyframes animation0 {
   from {
      opacity: 0;
      transform: translate(32%, -272%) rotate(44deg);
   }
   to {
      opacity: 1;
      transform: translate(0%, 0%) rotate(0deg);
   }
}

@keyframes animation2 {
   from {
      opacity: 0;
      transform: translate(0%, 120%) rotate(40deg);
   }
   to {
      opacity: 1;
      transform: translate(0%, 0%) rotate(0deg);
   }
}

@keyframes animation3 {
   from {
      opacity: 0;
      transform: translate(26%, 133%) rotate(-90deg);
   }
   to {
      opacity: 1;
      transform: translate(0%, 0%) rotate(0deg);
   }
}

@keyframes animation4 {
   from {
      opacity: 0;
      transform: translate(-100%, 400%) rotate(-45deg);
   }
   to {
      opacity: 1;
      transform: translate(0%, 0%) rotate(0deg);
   }
}
