.header {
   --header-height: 100px;

   position: fixed;
   top: 0;
   left: 50%;
   z-index: 3;
   transform: translateX(-50%);

   display: flex;
   justify-content: space-between;
   align-items: center;

   width: 100%;
   height: var(--header-height);

   transition: all 0.3s ease-in-out;

   @media (max-width: 768px) {
      --header-height: 60px;
   }
}

.logo {
   position: absolute;
   top: 50%;
   left: 5%;
   transform: translateY(-50%);

   display: flex;
   align-items: center;

   height: 100%;
   width: 13em;
   transition: all 0.3s ease-in-out;

   & > img {
      width: 100%;
   }

   // mobile
   @media (max-width: 768px) {
      width: 8.25em;
   }

   // mobile very small
   @media (max-width: 201px) {
      width: 66vw;
   }
}

.menuBtn {
   position: absolute;
   top: 50%;
   right: 5%;
   transform: translateY(-50%);

   width: 36px;
   height: 30px;

   // mmobile
   @media (max-width: 768px) {
      width: 18px;
      height: 15px;
   }

   & > div {
      position: absolute;
      left: 50%;
      transform-origin: left center;

      width: 36px;
      height: 4px;
      background: #fff;
      transition: all 0.3s ease-in-out;

      // mmobile
      @media (max-width: 768px) {
         width: 18px;
         height: 2px;
      }

      &:nth-of-type(1) {
         top: 0;
         transform: translateX(-50%);
      }

      &:nth-of-type(2) {
         top: 50%;
         transform: translate(-50%, -50%);
      }

      &:nth-of-type(3) {
         bottom: 0;
         transform: translateX(-50%);
      }
   }

   &.open > div {
      &:first-of-type {
         transform: translateX(-33%) rotate(45deg);
      }

      &:nth-of-type(2) {
         opacity: 0;
         transition: all 1s ease-in-out;
      }

      &:last-of-type {
         transform: translateX(-33%) rotate(-45deg);
      }
   }
}

.menuModal {
   position: fixed;
   top: 0;
   left: 0;

   display: flex;
   justify-content: center;
   align-items: center;

   width: 100vw;
   height: 100vh;
   background: rgba(30, 44, 44, 0.96);

   // tablet horizontal
   @media (max-height: 712px) {
      align-items: normal;
   }

   & > .header {
      position: absolute;
   }

   &.open {
      animation: fadeIn 0.3s ease-in-out;
   }

   &.close {
      animation: fadeOut 0.3s ease-in-out;
   }
}

.closeBtn {
   position: absolute;
   top: 50%;
   right: 5%;
   transform: translateY(-50%);

   width: 36px;
   height: 30px;

   // mobile
   @media (max-width: 768px) {
      width: 18px;
      height: 15px;
   }

   & > div {
      position: absolute;
      left: 50%;
      transform-origin: left center;

      width: 36px;
      height: 4px;
      background: #fff;

      // mobile
      @media (max-width: 768px) {
         width: 18px;
         height: 2px;
      }

      &:nth-of-type(1) {
         top: 0;
         transform: translateX(-33%) rotate(45deg);
      }

      &:nth-of-type(2) {
         bottom: 0;
         transform: translateX(-33%) rotate(-45deg);
      }
   }
}

.menuBody {
   width: 100%;
   text-align: center;

   // mobile horizontal
   @media (max-height: 712px) {
      margin-top: var(--header-height);
      max-height: calc(100vh - var(--header-height));
      overflow-y: scroll;
   }

   & > ul > li {
      height: 4em;
      line-height: 4em;

      & > a {
         font-size: 2rem;
         font-weight: 700;
         text-transform: uppercase;

         &.active {
            color: var(--primary);
         }
      }
   }

   & > ul.open {
      animation: floatIn 0.4s ease-in;
   }

   & > ul.close {
      animation: floatOut 0.4s ease-in-out;
   }
}

@keyframes fadeIn {
   from {
      opacity: 0;
   }
   to {
      opacity: 1;
   }
}

@keyframes fadeOut {
   from {
      opacity: 1;
   }
   to {
      opacity: 0;
   }
}

@keyframes floatIn {
   from {
      opacity: 0;
      transform: translateY(-4em);
   }
   to {
      opacity: 1;
      transform: translateY(0);
   }
}

@keyframes floatOut {
   from {
      opacity: 1;
      transform: translateY(0);
   }
   to {
      opacity: 0;
      transform: translateY(4em);
   }
}
