.section {
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   background-size: cover !important;
   overflow: hidden; //

   &.section2 {
      background: url('../../../assets/imgs/background2.jpg') no-repeat center fixed;
      color: #fff;
   }

   @media (max-width: 900px) {
      & .main {
         display: none;
      }

      & .main2 {
         display: flex;
      }
   }
}

.main {
   position: relative;
   z-index: 1;
   width: 100%;
   height: 100%;

   & .title {
      position: absolute;
      top: 36%;
      right: 10%;

      display: block;
      font-family: 'Courgette', cursive;
      font-size: 7.5rem;
      color: #d8ef5b;
      transition: font-size 0.3s ease-in-out;
      transform-origin: left;

      @media (max-width: 1200px) {
         top: 40%;
         font-size: 5.5rem;
      }
   }

   & .contentBlock {
      position: absolute;

      & > p {
         display: block;
         width: 200px;
         height: 50px;

         &:nth-of-type(1) {
            margin-bottom: 1em;
            font-size: 1rem;
            font-weight: 700;
            line-height: 1.5em;
            letter-spacing: 1px;
         }

         &:nth-of-type(2) {
            font-size: 1rem;
            font-family: 'Source Sans Pro', sans-serif;
            line-height: 1.5em;
         }
      }

      &.contentBlock1 {
         top: 14%;
         left: 50%;
      }

      &.contentBlock2 {
         bottom: 10%;
         left: 40%;
      }

      &.contentBlock3 {
         bottom: 25%;
         right: 11.5%;
      }
   }

   & .pulse {
      position: absolute;
      top: -30px;
      left: -125px;

      width: 100px;
      height: 100px;
      box-shadow: 0 0 0 rgba(216, 239, 91, 0.4);

      & > div {
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);

         width: 14px;
         height: 14px;
         background: #000;
         border-radius: 50%;

         &:nth-of-type(1) {
            animation: shadowPulse 2.4s infinite 0s;
         }
         &:nth-of-type(2) {
            animation: shadowPulse 2.4s infinite 0.6s;
         }
         &:nth-of-type(3) {
            animation: shadowPulse 2.4s infinite 1.2s;
         }
         &:nth-of-type(4) {
            animation: shadowPulse 2.4s infinite 1.8s;
         }
      }
   }

   // ACTIVE ANIMATION
   &.active {
      --duration1: 0.7s;
      --duration2: 0.68s;
      --duration3: 0.65s;
      --duration4: 0.62s;
      --delay1: 0s;

      & .title {
         animation: animation0 var(--duration1) ease-in-out;
      }

      & .contentBlock {
         &.contentBlock1 {
            animation: animation1 var(--duration2) ease-in-out;
         }

         &.contentBlock2 {
            animation: animation2 var(--duration3) ease-in-out;
         }

         &.contentBlock3 {
            animation: animation3 var(--duration4) ease-in-out;
         }
      }
   }
}

.main2 {
   display: none;
   flex-direction: column;
   text-align: center;
   align-items: center;
   gap: 2.5em;

   & .title {
      display: block;
      margin: 40px 0 12px;

      color: #d8ef5b;
      font-family: 'Courgette', cursive;
      font-size: 5.5rem;
      transition: font-size 0.3s ease-in-out;
   }

   // mobile horizontal
   @media (max-height: 391px) {
      gap: 1em;

      & > .title {
         font-size: 2.5rem;
      }
   }

   & .contentBlock {
      max-width: 75%;
      &.contentBlock1 > p:nth-of-type(1) {
         font-size: 19px;
      }

      & > p:nth-of-type(1) {
         font-weight: 700;
         line-height: 1.5em;
         letter-spacing: 1px;
      }

      & > p:nth-of-type(2) {
         font-size: 1rem;
         font-family: 'Source Sans Pro', sans-serif;
         line-height: 1.5em;
      }
   }

   // ACTIVE ANIMATION
   &.active {
      --duration1: 1s;
      --delay1: 0s;

      & > .title {
         animation: animation0 var(--duration1) ease-in-out;
      }

      & > .contentBlock {
         animation: animation2 var(--duration1) ease-in-out;
      }
   }
}

@keyframes shadowPulse {
   from {
      box-shadow: 0 0 0 0px rgba(216, 239, 91, 0.7);
   }
   to {
      box-shadow: 0 0 0 45px rgba(216, 239, 91, 0);
   }
}

@keyframes animation0 {
   from {
      opacity: 0;
      transform: scale(0.2);
   }
   to {
      opacity: 1;
      transform: scale(1);
   }
}

@keyframes animation1 {
   from {
      opacity: 0;
      transform: translateY(114%);
   }
   to {
      opacity: 1;
      transform: translateY(0%);
   }
}

@keyframes animation2 {
   from {
      opacity: 0;
      transform: translateY(-105%);
   }
   to {
      opacity: 1;
      transform: translateY(0%);
   }
}

@keyframes animation3 {
   from {
      opacity: 0;
      transform: translateX(-200%);
   }
   to {
      opacity: 1;
      transform: translateY(0%);
   }
}
