.Slider {
   width: 100%;
   height: 100vh;
   overflow: hidden;
   scroll-behavior: smooth;
}

.slideTrack {
   width: 100%;
   height: 100%;
   margin-top: -600vh;

   // transition: all 1s ease-in-out;
}

@keyframes fadeIn {
   from {
      opacity: 0;
   }
   to {
      opacity: 1;
   }
}

@keyframes fadeOut {
   from {
      opacity: 1;
   }
   to {
      opacity: 0;
   }
}

@keyframes floatIn {
   from {
      opacity: 0;
      transform: translateY(-4em);
   }
   to {
      opacity: 1;
      transform: translateY(0);
   }
}

@keyframes floatOut {
   from {
      opacity: 1;
      transform: translateY(0);
   }
   to {
      opacity: 0;
      transform: translateY(4em);
   }
}
